{{#partial "title"}} About The Burn Zone {{/partial}}
{{#partial "content"}}

<div id="about">

  <!--starts ABOUT-->
  <section id="about_intro">
    <div class="container">
        <h2 class="tc">About</h2>

        <div class="row">
          <div class="col-md-12">
            <p class="intro">
              BurnZone provides community engagement products built to seriously increase interaction, traffic and revenue for publishers. We provide a commenting and forum platform that are integrated with unique features engineered to captivate community users. 
            </p>
          </div>
        </div>
    </div>
  </section>

  <!--starts FEATURES-->
  <section>
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-6 col-sm-6">
          <div class="features">
            <div class="section-info">
              <h3>Commenting & Forums</h3>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Free</li>
                <li>Unlimited traffic and users</li>
                <li>100% hosted by us</li>
                <li>Real Time</li>
                <li>Mobile Optimized UI</li>
                <li>Beautiful Light & Dark Themes</li>
                <li>Moderation Tools</li>
              <ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Spam Protected</li>
                <li>Single Sign On</li>
                <li>Easy Installation</li>
                <li>Plugins</li>
                <li>Social Login</li>
                <li>User Notifications</li>
                <li>Email Notifications</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="features">
            <div class="section-info">
              <h3>Game Changing Features</h3>
            </div>
            <div class="col-md-6">
              <ul>
                <li>YOLOs</li>
                <li>Reputation Point System</li>
                <li>Questions</li>
                <li>Challenges</li>
                <li>Ignite Premium</li>
              <ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Competitions</li>
                <li>Promote</li>
                <li>Leaderboard</li>
                <li>Badges (optional)</li>
                <li>Social Sharing</li>
              </ul>
            </div>
          </div>
        </div>
        <h4 class="clear tc">*See these features in our <a href="/demo" target="_blank">Commenting Demo</a> or <a href="/forums-demo" target="_blank">Forum</a></h4>
      </div>
    </div>
  </section>

  <!--starts TEAM-->
  <section id="team" class="landing_page_item">
    <div class="container">
      <h2 class="tc">Meet Our Executive Team</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/patrick.png"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Patrick Hillery</span>
                      <span class="thumb-info-type">Co-Founder & Director of Product</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/brady.png"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Brady Decker</span>
                      <span class="thumb-info-type">Co-Founder & Director of Sales</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/mihnea.png"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Mihnea Scafes</span>
                      <span class="thumb-info-type">Lead Software Engineer</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/michael.png"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Michael Hancock</span>
                      <span class="thumb-info-type">Creative Director</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/vali.png"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Valeriu Pavel</span>
                      <span class="thumb-info-type">Lead Front-End Engineer</span>
                    </span>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/msb.jpeg"}}">
                    <span class="thumb-info-title">
                      <span class="thumb-info-inner">Marius Barbu</span>
                      <span class="thumb-info-type">Lead Data Engineer</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{> marketing/plugins_container}}
        </div>

      </div>

    </div>
  </section>

</div>

{{/partial}}
{{> marketing/layout}}
