{{#partial "title"}} 3rd Party Comment System > The Burn Zone Commenting System {{/partial}}
{{#partial "content"}}
<div id="home">

  <div class="jumbotron banner_section">
    <div class="container">
      <h1>Igniting Community Engagement</h1>
      <p class="tagline">Why Choose BurnZone?</p>
      <span class="links cl-effect-fd">
        <a href="#features" data-hover="Features" class="cl-effect-fd">Features<span class="text-separator">&#8212;</span></a>
        <a href="#revenue" data-hover="Revenue" class="cl-effect-fd">Revenue<span class="text-separator">&#8212;</span></a>
        <a href="#notifications" data-hover="Notifications" class="cl-effect-fd">Notifications<span class="text-separator">&#8212;</span></a>
        <a href="#analytics" data-hover="Analytics" class="cl-effect-fd">Analytics<span class="text-separator">&#8212;</span></a>
        <a href="#socialmedia" data-hover="Social Media" class="cl-effect-fd">Social Media<span class="text-separator">&#8212;</span></a>
        <a href="#basics" data-hover="All the Basics" class="cl-effect-fd">All the Basics</a>
      </span>
      <p class="links_demo">
        <a href="/demo" target="_blank" class="content_cta bz_com_demo btn btn-med">Commenting Demo</a>
        <a href="/forums-demo" target="_blank" class="content_cta bz_forum btn btn-med">Forums</a>
      </p>
    </div>
  </div>

  <!-- GAMIFICATION -->

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Features</h2>
          <h3 class="tc short word-rotator-title">
            Increase
            <strong class="inverted">
              <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                <span class="word-rotate-items">
                  <span>Engagement</span>
                  <span class="word-rotate-revenue">Revenue</span>
                </span>
              </span>
            </strong>
             through gamified features
          </h3>
          <div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 3, "singleItem": false, "autoHeight": true, "autoPlay": true}'>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_ignite.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Ignite Premium</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Ignite a comment to reward a user for outstanding content. Both users get 30 days of premium features. <a target='_blank' href='http://help.theburn-zone.com/customer/portal/articles/1944062'>Learn more here</a></p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_challenge.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Challenge Users</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Challenge to share an opposing view and let the community respond and vote for the winning side.</p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_bet.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Yolo</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Propose a wager to specific users or the community and risk winning or losing points through our "Yolo" wager feature.</p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_question.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Ask Questions</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Ask a question and let the community answer and vote for the best response.</p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_promote.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Promoted</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Highlight comments to the top of the page by promoting with points.</p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_badges.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Badges</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Customizable status badges for positive participation in the community.</p>
                </span>
              </div>
            </div>
            <div>
              <div class="portfolio-item img-thumbnail">
                <a class="thumb-info lightbox" data-plugin-options='{"type":"inline", preloader: false}'>
                  <img alt="" class="img-responsive" src="{{resource "/img/m/feature_leaderboard.png"}}">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">Leaderboard</span>
                  </span>
                </a>
                <span class="thumb-info-caption">
                  <p>Our point system highlights and recognizes users who positively  contribute to the community.</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- REVENUE -->
  <section id="revenue">
    <div class="container">
      <h2>Increase Revenue</h2>
      <div class="col-md-12">
        <p class="lead tc">BurnZone shares revenue with it’s partners</p>
      </div>
      <div class="competition_section col-md-8 tc">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="image-item thumbnail">
              <a class="thumb-info">
                <img src="{{resource "/img/m/feature_ignite.png"}}">
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="image-item thumbnail">
              <a class="thumb-info">
                <img src="{{resource "/img/m/feature_payment.png"}}">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <p>Gamification increases your traffic and  profits from your ads but also generates additional revenue through our “Ignited Premium” features.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="image-item thumbnail">
          <a class="thumb-info">
            <img src="{{resource "/img/m/feature_ignited_profile.png"}}">
          </a>
        </div>
        <p>Ignite Premium is our user reward program that gives premium features to enhance user experience. We share a percentage of this revenue with our partners. <a target='_blank' href='http://help.theburn-zone.com/customer/portal/articles/1944062'>Learn more here</a></p>
      </div>
    </div>
  </section>

  <!-- NOTIFICATIONS -->
  <section id="notifications">
    <div class="container">
      <h2>Notifications</h2>
      <div class="col-md-12">
        <p class="lead tc">Increase traffic through notifying users when there is updated activity.</p>
        <div class="row">
          <ul class="image-list">
            <div class="row">
              <li class="col-md-4 col-sm-4 col-xs-12">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/feature_notifications.png"}}">
                  </a>
                  <span class="thumb-info-caption">
                   <p><strong>Platform Notifications</strong> signal to users when new content is available.</p>
                  </span>
                </div>
              </li>
              <li class="col-md-4 col-sm-4 col-xs-12">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/feature_notifications_email.png"}}">
                  </a>
                  <span class="thumb-info-caption">
                    <p><strong>Email Notifications</strong> are sent both immediately and in daily digest form to pull users back to the platform.</p>
                  </span>
                </div>
              </li>
              <li class="col-md-4 col-sm-4 col-xs-12">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/feature_content_discovery.png"}}">
                  </a>
                  <span class="thumb-info-caption">
                    <p><strong>Content Discovery</strong> highlights recommended articles and threads allowing users to easily find more great content on your site. This widget may be added wherever is convenient for your community.</p>
                  </span>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ANALYTICS -->
  <section id="analytics">
    <div class="container">
      <div class="row center">
        <div class="col-md-12">
          <h2>Analytics</h2>
          <p class="lead">
            *<strong>Quantify your conversations.</strong> Measure conversation impact on your business with industry leading analytics.
          </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="image-item thumbnail">
            <a class="thumb-info">
              <img src="{{resource "/img/m/feature_analytics.png"}}" class="img-responsive">
            </a>
          </div>
          <em class="soon_note">* coming soon</em>
        </div>
      </div>
    </div>
  </section>

  <!-- SOCIAL MEDIA -->
  <section id="socialmedia">
    <div class="container">
      <h2>Social Media</h2>
      <div class="col-md-12">
        <p class="lead tc">Only Platform with Social Media integrations for both moderators and commenters.</p>
        <div class="row">
          <ul class="image-list">
            <div class="row">
              <li class="col-md-6 col-sm-6 col-xs-12">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/feature_share.png"}}">
                  </a>
                  <span class="thumb-info-caption tc">
                   <h4>Share conversations & comments</h4>
                  </span>
                </div>
              </li>
              <li class="col-md-6 col-sm-6 col-xs-12">
                <div class="image-item thumbnail">
                  <a class="thumb-info">
                    <img src="{{resource "/img/m/feature_login.png"}}">
                  </a>
                  <span class="thumb-info-caption tc">
                    <h4>Streamline log-in with Social Integrations.</h4>
                  </span>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ALL THE BASICS -->
  <section id="basics">
    <div class="container">
      <h2>All the Basics</h2>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-clock-o fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Real Time</h4>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i> New comments Appear Immediately</li>
                  <li><i class="fa-li fa fa-check"></i> Get immediate feedback</li>
                  <li><i class="fa-li fa fa-check"></i> Participate in conversations as they happen</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-legal fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Moderation</h4>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i> *Block Spam</li>
                  <li><i class="fa-li fa fa-check"></i> Approve New or All Users comments</li>
                  <li><i class="fa-li fa fa-check"></i> Delete Comments</li>
                  <li><i class="fa-li fa fa-check"></i> Users Flag comments</li>
                  <li><i class="fa-li fa fa-check"></i> Block Users from Posting</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-cloud fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Cloud Hosted</h4>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i> Will not increase your hosting costs</li>
                  <li><i class="fa-li fa fa-check"></i> Reliable</li>
                  <li><i class="fa-li fa fa-check"></i> Lightning fast response time</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-sign-in fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">SSO</h4>
                <p class="tall">Sites can integrate <a href="/index">BurnZone commenting system</a> with their existing user base so users don't have to create a new, separate account.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-desktop fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Theme</h4>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i> Beautiful Light and Dark Themes</li>
                  <li><i class="fa-li fa fa-check"></i> Customize Look and feel to blend to your site</li>
                  <li><i class="fa-li fa fa-check"></i> Mobile Optimized UI</li>
                  <li><i class="fa-li fa fa-check"></i> Can’t Break Our Code Base</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box secundary">
              <div class="feature-box-icon">
                <i class="fa fa-smile-o fa-5x"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="shorter">Easy To Install</h4>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-check"></i> Works by just installing a plugin</li>
                  <li><i class="fa-li fa fa-check"></i> Guides for every major platform</li>
                  <li><i class="fa-li fa fa-check"></i> Quick tutorial for custom built sites</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container pricing">
    <div class="col-md-12">
      <a class="btn btn-med content_cta orange" href="/pricing">PRICING</a>
    </div>
  </div>

</div>
{{/partial}}
{{> marketing/layout}}
