<div class="col-md-12 col-sm-12">
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/wp/">
      <img src="{{resource "/img/m/wordpress.png"}}" alt="feature1" class="thumb" />
      <h6>
          WordPress
      </h6>
    </a>
  </div>
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/blogger/">
      <img src="{{resource "/img/m/blogger.png"}}" alt="feature2" class="thumb" />
      <h6>
          Blogger
      </h6>
    </a>
  </div>
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/tumblr/">
      <img src="{{resource "/img/m/tumblr.png"}}" alt="feature3" class="thumb" />
      <h6>
          Tumblr
      </h6>
    </a>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/typepad/">
      <img src="{{resource "/img/m/typepad.png"}}" alt="feature3" class="thumb" />
      <h6>
          TypePad
      </h6>
    </a>
  </div>
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/vbulletin/">
      <img src="{{resource "/img/m/vbulletin.png"}}" alt="feature3" class="thumb" />
      <h6>
          vBulletin
      </h6>
    </a>
  </div>
  <div class="col-md-4 col-sm-4 platform">
    <a href="/install/generic/">
      <img src="{{resource "/img/m/code.png"}}" alt="feature3" class="thumb" />
      <h6>
          Custom site
      </h6>
    </a>
  </div>
</div>
