{{#partial "admin_content"}}
<div class="tab-pane active installation_instructions" id="tab2">

  <h3>Improve your WordPress site with BurnZone Commenting!</h3>

  <ol>
    <li> 
      <a href="/install/wp/"><img src="{{resource "/img/m/easy-integration.png"}}" title="Easy Integration" alt="Easy Integration" class="pull-right"/></a>
      Easy Integration
      <div class="clearfix"></div>
    </li>
    <li>
      <div class="pull-right">
        <img src="{{resource "/img/m/moderation-1.png"}}" title="Great Moderation - Pending comments" alt="Easy Integration"/> <br/><br/>
        <img src="{{resource "/img/m/moderation-2.png"}}" title="Great Moderation - User profiles" alt="Easy Integration"/>
      </div>
      Great Moderation
      <div class="clearfix"></div>
    </li>
    <li>
      <!-- <img src="{{resource "/img/m/easy-integration.png"}}" title="Add new plugin" alt="Add new plugin" class="pull-right"/> -->
      <a href="/features">Unique Features</a>
      <div class="clearfix"></div>
    </li>
    <li>
      <!-- <img src="{{resource "/img/m/wp_tut/step4.png"}}" title="Activate the plugin" alt="Activate the plugin" class="pull-right"/> -->
      <a href="/features">Social Media Features</a>
      <div class="clearfix"></div>
    </li>
  </ol>

</div>
{{/partial}}
{{> marketing/install}}
