<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Conversait</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{resource "/css/embedded.css"}}" type="text/css">
  <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{resource "/css/embedded-bootstrap.css"}}" type="text/css">
    <link rel="stylesheet" href="{{resource "/css/embedded-custom.css"}}" type="text/css">
  <![endif]-->
  <script src="{{resource "/js/embedded-vendor.js"}}"></script>
  <script src="{{resource "/js/embedded.js"}}"></script>
  <script>
    var conversaitAppType = "{{appType}}"
      , conversaitConnectionType = "CONNECTED";
    var conversaitData = {
      status: {{{status}}},
      message: "{{{message}}}",
      conversation: {{{data}}},
      site: {{{site}}},
      user: {{{user}}},
      dev: {{{dev}}},
      loginUrl: "{{{loginUrl}}}",
      baseUrl: "{{{baseUrl}}}",
      baseUrlNotifications: "{{{baseUrlNotifications}}}",
      baseUrlResources: "{{{baseUrlResources}}}",
      serverTime: {{{serverTime}}},
      flagsForApproval: {{{flagsForApproval}}},
      editCommentPeriod: {{{editCommentPeriod}}},
      challengeCost: {{{challengeCost}}},
      promoteCost: {{{promoteCost}}},
      modPromotePoints: {{{modPromotePoints}}},
      challengeCost: {{{challengeCost}}},
      promotedLimit: {{{promotedLimit}}},
      fbAppId: "{{{fbAppId}}}",
      statics: {{{statics}}},
      theme: "{{theme}}",
      color: {{{color}}},
      stripePk: "{{{stripePk}}}",
      fundCommentPrice: {{fundCommentPrice}},
      minBetPeriod: {{{minBetPeriod}}},
      minBetPts: {{{minBetPts}}},
      minBetPtsTargeted: {{{minBetPtsTargeted}}},
    };
    require('main');
  </script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{{fbAppId}}}',
        xfbml      : false,
        version    : 'v2.0'
      });
      window.FB = FB;
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {
         return;
       }
       js = d.createElement(s); js.id = id;
       js.src = "http://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <div id="conversation"></div>

  <!-- SiteCatalyst code version: H.25.3.
  Copyright 1996-2013 Adobe, Inc. All Rights Reserved
  More info available at http://www.omniture.com -->
  <script language="JavaScript" type="text/javascript" src="{{resource "/js/AppMeasurement_embedded.js"}}"></script>
  <script language="JavaScript" type="text/javascript"><!--
  /* You may give each page an identifying name, server, and channel on
  the next lines. */
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code="";if(s_code)document.write(s_code)//--></script>
  <script language="JavaScript" type="text/javascript"><!--
  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  //--></script><noscript><img src="http://patrickhillery.112.2o7.net/b/ss/brnzonecomprod/1/H.25.3--NS/0"
  height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->
  <!-- End SiteCatalyst code version: H.25.3. -->

</body>
</html>
