<div class="label badge_marker" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{title}}{{#if model.attributes.rank}} - Rank #{{model.attributes.rank}}, {{model.attributes.value}} points{{/if}}">
  <span class="badge-title" data-badge-id="{{model.attributes.badge_id}}">{{icon}}</span>
</div>
