<span class="bet-note">
  <i class="icon-money"></i>
  <small class="bet-open" title="{{translate "bet_open_title"}}"><span>{{translate "bet_open"}}</span> <span class='ends_time'></span></small>
  <small class="bet-resolved">{{translate "bet_resolved"}}</small>
  <small class="bet-closed" title="{{translate "bet_closed_title"}}"><span>{{translate "bet_closed"}}<span> <span class='forf_starts_time'></span></small>
  <small class="bet-forf" title="{{translate "bet_forf_title"}}"><span>{{translate "bet_forf"}}<span> <span class='forf_ends_time'></span> </small>
  <small class="bet-forf-mod" title="{{translate "bet_forf_mod_title"}}"><span>{{translate "bet_forf_mod"}}<span> <span class='forf_ends_time'></span> </small>
  <small class="bet-undecided" title="{{translate "bet_undecided_title"}}">{{translate "bet_undecided"}}</small>
  <small class="bet-tie" title="{{translate "bet_tie_title"}}">{{translate "bet_tie"}}</small>
  <small class="bet-rolledback" title="{{translate "bet_rolledback_title"}}">{{translate "bet_rolledback"}}</small>
</span>
