<div class="modal" id="challenge_comment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>

  <div class="modal-body">
    
    <h4 title="{{translate "title_challenged_comment_title"}}">{{translate "challenged_comment_title"}}</h4>
    <hr/>
    <div class="text" data-rv-text="model.text"></div>
    <hr/>

    <div class="challenge_title_container control-group">
      <h5 title="{{translate "title_summarize_your_pv"}}">{{translate "summarize_your_pv"}}</h5>
      <textarea class="challenge_title"></textarea>
    </div>
    <hr/>

    <div class="opposing_comment_container control-group">
      <h5 title="{{translate "title_enter_your_pv"}}">{{translate "enter_your_pv"}}</h5>
      <textarea class="opposing_comment"></textarea>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn pull-right submit">{{translate "submit"}}</button>
  </div>
</div>