<div class="like_section hidden-phone">
  <h4 class="user_likes" data-rv-text="model.no_likes"></h4>
  <div class="positive_votes cfgstyle like_up pull-left">
    <span class="bz-icon comment_action" title="{{translate "title_like_up"}}">
      <i class="icon-chevron-up"></i>
    </span>
  </div>

  <div class="negative_votes cfgstyle like_down pull-left">
    <span class="bz-icon comment_action" title="{{translate "title_like_down"}}">
      <i class="icon-chevron-down"></i>
    </span>
  </div>
  <div class="clearfix"></div>
</div>

<div class="like_section_mobile visible-phone">
  <h4 class="user_likes" data-rv-text="model.no_likes"></h4>
  <div class="positive_votes cfgstyle like_up pull-left">
    <span class="bz-icon comment_action" title="{{translate "title_like_up"}}">
      <i class="icon-chevron-up"></i>
    </span>
  </div>

  <div class="negative_votes cfgstyle like_down pull-left">
    <span class="bz-icon comment_action" title="{{translate "title_like_down"}}">
      <i class="icon-chevron-down"></i>
    </span>
  </div>
  <div class="clearfix"></div>
</div>

<div class="left_box pull-left">

  <a href="#brzn/users/{{model.attributes.author.id}}">
    <div class="author_image_container">
    </div>
  </a>

</div>
