<div class="item">
  {{#if blank}}
    {{translate 'no_context_filter'}}
  {{else}}
    {{#each parents}}
      <div class="tag_image_container pull-left">
        {{#if this.imageUrl}}
          <img src='{{this.imageUrl}}' class='tag_parent_image' />
        {{/if}}
      </div>
    {{/each}}
    <div class="tag_image_container pull-left">
      {{#if imageUrl}}
        <img src='{{imageUrl}}' class='tag_image' />
      {{/if}}
    </div>
    <div class="tag_item_label pull-left">
      {{displayName}}
    </div>
  {{/if}}
</div>
