<span>{{translate "sort_by"}}</span>

<select class="sort_by selectpicker" size="1" name="sort_by">
  <option value="timeAsc">{{translate "oldest"}}</option>
  <option value="timeDesc">{{translate "newest"}}</option>
  <option value="commentsDesc">{{translate "comments"}}</option>
  <option value="votesDesc">{{translate "votes"}}</option>
</select>
