<select class="sort_by xq" size="1" name="sort_by">
  <option value="activityRatingDesc" data-sort-column='activity-rating' data-sort-dir='-1'>{{translate "sort_activity_rating_down"}}</option>
  <!-- <option value="timeCreatedDesc">{{translate "sort_by"}} {{translate "newest"}}</option> -->
  <!-- <option value="timeCreatedAsc">{{translate "sort_by"}} {{translate "oldest"}}</option> -->
  <option value="latestActivityDesc" data-sort-column='latest-activity' data-sort-dir='-1'>{{translate "sort_latest_activity_down"}}</option>
  <option value="latestActivityAsc" data-sort-column='latest-activity' data-sort-dir='1'>{{translate "sort_latest_activity_up"}}</option>
  <option value="activitiesDesc" data-sort-column='comments' data-sort-dir='-1'>{{translate "sort_comments_down"}}</option>
  <option value="activitiesAsc" data-sort-column='comments' data-sort-dir='1'>{{translate "sort_comments_up"}}</option>
</select>
