<select class="sort_by" size="1" name="sort_by">
    <option value="timeAsc">{{translate "sort_by"}} {{translate "oldest"}}</option>
    <option value="timeDesc">{{translate "sort_by"}} {{translate "newest"}}</option>
    <option value="likesDesc">{{translate "sort_by"}} {{translate "points"}}</option>
</select>
