<div class="label not_verified_marker" title="{{translate "non_verified_user"}}">
  <span>{{translate "not_verified_marker"}}</span>
  <!-- <i class="icon-exclamation"></i> -->
</div>
<div class="label moderator_marker" title="{{translate "moderator_user"}}">
  <span>{{translate "moderator_marker"}}</span>
</div>
<div class="label trusted_marker" data-toggle="tooltip" data-container="body" data-placement="bottom" title="{{translate "trusted_marker_tooltip"}}">
  <span>{{translate "trusted_marker"}}</span>
</div>
<div class="badges-container" title="">
  <div class="label badge_marker gold_marker display_none" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Visit your profile to find out how to get a gold badge!">
    <a href='#brzn/badges/gold'>
      <span class="badge-title">GOLD</span>
    </a>
  </div>
  <div class="label label-template badge_marker display_none" data-toggle="tooltip" data-container="body" data-placement="bottom" title="">
    <span class="badge-title"></span>
  </div>
</div>
